{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {
    "linebreak-style": "off",
    "valid-jsdoc": "off",
    "require-jsdoc": "off",
    "quotes": "off",
    "key-spacing": "off",
    "no-multi-spaces": "off",
    "arrow-parens": "off",
    "no-loop-func": "off",
    "eol-last": "off"
  }
}
